@model SimSoDep.Models.TrietKhauModel
@{
    ViewBag.Title = "DeleteTrietKhau";
}
<h2>
    DeleteTrietKhau</h2>
<h3>
    Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TrietKhauModel</legend>
    <div class="display-label">
        TrietKhau</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrietKhau)
    </div>
    <div class="display-label">
        MaDaiLy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaDaiLy)
    </div>
    <div class="display-label">
        GiaTu</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiaTu)
    </div>
    <div class="display-label">
        Den</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Den)
    </div>
</fieldset>
@using (Html.BeginForm("DeleteTrietKhauPost", "DaiLyManager", new { id = Model.Id, MaDaiLy=Model.MaDaiLy }))
{
    @*<input type="hidden" name="MaDaiLy" value="@Model.MaDaiLy"/>*@
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Edit", new { id = Model.MaDaiLy })
    </p>
}
