
<ul>
    <li>@Html.ActionLink("Sim Tứ Quý", "Sim-Tu-Quy", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Lục Quý", "Sim-Luc-Quy", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Ngũ Quý", "Sim-Ngu-Quy", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Taxi Lặp 2", "Sim-Taxi-Lap-2", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Taxi Lặp 3", "Sim-Taxi-Lap-3", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Taxi Lặp 4", "Sim-Taxi-Lap-4", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Tiến Đôi", "Sim-Tien-Doi", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Tiến Đơn", "Sim-Tien-Don", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Tiến Giữa", "Sim-Tien-Giua", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Tam Hoa Kép", "Sim-Tam-Hoa-Kep", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Tam Hoa Đơn", "Sim-Tam-Hoa-Don", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Kép", "Sim-Kep", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Kép Khác", "Sim-Kep-Khac", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Lặp", "Sim-Lap", "Loai-Sim", null, new { })</li>
    <li>@Html.ActionLink("Sim Lặp Khác", "Sim-Lap-Khac", "Loai-Sim", null, new { })</li>
</ul>