<div id="danhmuc">
    <ul>
        <li>@Html.ActionLink("Loại sim số", "LoaiSimSo", "Catagory")</li>
        <li>@Html.ActionLink("Loại sim số chi tiet", "LoaiSimSoChiTiet", "Catagory")</li>
        <li>@Html.ActionLink("Nhà mạng", "NhaMang", "Catagory")</li>
        <li>@Html.ActionLink("Đầu số", "DauSo", "Catagory")</li>
        <li>@Html.ActionLink("Loại giá", "LoaiGia", "Catagory")</li>
    </ul>
</div>
